ul{
    list-style-type: circle;
}
ol{
    list-style-type: decimal-leading-zero;
}
li{
    margin: 10px;
}
table{
    width: 300px;
    margin: auto;
    border-spacing: 10px 20px;
    /* border-collapse:collapse;  */
}
th{
    text-transform: uppercase;
    text-align: left;
    border-bottom: 2px solid black;
    padding: 10px; 

}
td{
    padding: 10px; 
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: whitesmoke;
}